.forcast-container {
  max-width: 80rem;
  width: 90%;
  margin-top: 5rem;
}
.swiper {
  min-height: 10rem;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
