.forcast-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forcast-list-container {
  width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
