.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
}

.card-container #light {
  color: black;
}
.card-container #dark {
  color: white;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 50rem;
  margin: 0 2rem;
  padding: 2rem;
  width: 100%;
  background-color: hsla(0, 2%, 25%, 0.49);
  border-radius: 4%;
  font-size: 1.8rem;
}

.card-temp-icon {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.card-feels_like {
  display: flex;
  flex-direction: column;
  align-items: center;
}
