@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@400;600&family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#light {
  background-image: url("./public/lightmode.jpg");
}

#dark {
  background-image: url("./public/darkmode.jpg");
}
